<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  <link rel="stylesheet" href="/css/main_css_file.css">
  <script src="https://use.typekit.net/kez5sdr.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <body>
    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
